/* .quiz-details {
    display: flex;
    height:1000px;
}

.quiz-manual {
    width: 80%;
    height: 100%;
    margin: 0px auto;
}

.quizManualPage__content--section {
    margin-bottom: 30px;
}

hr{
    margin: 10px;
} */