@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  padding-left: 50px;
}
.navbar .links {
  margin-left: auto;
  padding-right: 100px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 25px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.home{
  padding-top:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-content{
  padding: 20px;
}

.contact,.about{
  padding-top:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:50px;
  background-color: black;
  text-align: center;
  color: white;
}

.login{
  padding-top:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fields{
  padding-bottom: 20px;
  display: flex;
}

.submit-button{
  padding-left: 600px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* .question{
  text-align: center;
} */

.score{
  text-align: center;
}

.quizManualPage__content--section{
  margin-top: 10px;
}